In [1]:
from pyspark import *

### Data Summary
https://archive.ics.uci.edu/ml/datasets/Adult

Attribute Information:

Listing of attributes: 

>50K, <=50K. 

#### Feature 1 =  age: continuous. 
#### Feature 2 = workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked. 
#### Feature 3 = fnlwgt: continuous. 
#### Feature 4 = education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool. 
#### Feature 5 = education-num: continuous. 
#### Feature 6 = marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse. 
#### Feature 7 = occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces. 
#### Feature 8 = relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried. 
#### Feature 9 = race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black. 
#### Feature 10 = sex: Female, Male. 
#### Feature 11 = capital-gain: continuous. 
#### Feature 12 = capital-loss: continuous. 
#### Feature 13 = hours-per-week: continuous. 
#### Feature 14 = native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [3]:
#Step 1: Read the table from the spark data
census = spark.read.table("adult_csv")
#Step2 : Reading the Table Schema
census.printSchema()
#Step 3: Rading the column names
census_col = census.columns
census.dtypes
#census = census.withColumnRenamed("age", "Age")

In [4]:
census.count()

In [5]:
# printing limited columns we use select keyword
census.select("employer_type", "marital", "income").show() # Our 2nd transformation (4 >> 3 columns)

In [6]:
# check for all missing values in Dataframe
import pyspark.sql.functions as F
#cols = [count(c=='?')  for c in census.columns]
cout = [census[census[c]=="?"].count() for c in census.columns]
print(census.columns)
cout

In [7]:
step1 = [F.when(~F.col(x).isin("?","NULL", "NA", "NaN"), F.col(x)).alias(x)  for x in census.columns] 
step2 = census.select(*step1).dropna(how='any')
step3 = step2.drop('numf1','numf2')

#KPI 1

In [9]:
#KPI1
display(step3.select(['age','income']))

age,income
25,<=50K
38,<=50K
28,>50K
44,>50K
34,<=50K
63,>50K
24,<=50K
55,<=50K
65,>50K
36,<=50K
26,<=50K
48,>50K
43,>50K
20,<=50K
43,<=50K
37,<=50K
34,>50K
34,<=50K
25,<=50K
25,<=50K
45,>50K
22,<=50K
23,<=50K
54,<=50K
32,<=50K
46,>50K
56,<=50K
24,<=50K
23,<=50K
26,<=50K
36,>50K
22,<=50K
17,<=50K
20,<=50K
65,>50K
44,>50K
36,<=50K
29,<=50K
20,<=50K
28,>50K
39,<=50K
54,<=50K
52,<=50K
56,<=50K
18,<=50K
39,<=50K
21,<=50K
22,>50K
38,<=50K
21,<=50K
63,<=50K
34,>50K
42,>50K
33,<=50K
30,<=50K
39,<=50K
26,<=50K
33,<=50K
47,<=50K
41,>50K
19,<=50K
46,<=50K
43,<=50K
55,>50K
46,<=50K
30,<=50K
21,<=50K
46,<=50K
41,<=50K
69,<=50K
50,<=50K
20,<=50K
45,<=50K
23,<=50K
24,<=50K
31,<=50K
43,<=50K
20,<=50K
55,>50K
24,<=50K
59,<=50K
49,<=50K
33,>50K
59,<=50K
34,<=50K
20,<=50K
25,<=50K
49,<=50K
59,>50K
20,<=50K
33,<=50K
22,<=50K
58,<=50K
52,<=50K
36,<=50K
41,<=50K
28,<=50K
19,<=50K
18,<=50K
18,<=50K
28,<=50K
29,>50K
40,<=50K
26,<=50K
46,<=50K
23,<=50K
44,<=50K
43,>50K
31,<=50K
18,<=50K
19,<=50K
41,<=50K
41,<=50K
69,<=50K
48,>50K
28,<=50K
27,>50K
41,>50K
41,<=50K
24,<=50K
42,>50K
57,<=50K
30,<=50K
36,>50K
49,<=50K
33,<=50K
23,<=50K
46,<=50K
18,<=50K
40,>50K
43,>50K
34,<=50K
47,<=50K
44,<=50K
33,>50K
55,>50K
19,<=50K
28,<=50K
27,<=50K
50,<=50K
22,<=50K
40,>50K
25,<=50K
26,<=50K
22,<=50K
42,<=50K
38,<=50K
55,<=50K
32,<=50K
22,<=50K
29,<=50K
46,>50K
31,>50K
58,>50K
42,<=50K
18,<=50K
58,<=50K
54,>50K
34,<=50K
26,<=50K
61,<=50K
48,<=50K
36,>50K
24,<=50K
40,<=50K
33,>50K
37,>50K
34,<=50K
56,>50K
37,<=50K
44,<=50K
54,<=50K
23,<=50K
22,<=50K
33,>50K
39,>50K
47,<=50K
26,<=50K
31,<=50K
44,<=50K
42,>50K
19,<=50K
27,>50K
51,>50K
28,<=50K
57,<=50K
45,<=50K
50,>50K
34,<=50K
45,<=50K
73,<=50K
34,>50K
31,>50K
19,<=50K
25,<=50K
38,<=50K
39,<=50K
23,<=50K
49,<=50K
33,<=50K
21,<=50K
31,<=50K
23,<=50K
34,<=50K
25,<=50K
39,<=50K
52,>50K
63,>50K
41,<=50K
46,>50K
53,<=50K
18,<=50K
38,<=50K
55,<=50K
34,>50K
80,<=50K
34,<=50K
52,<=50K
42,<=50K
26,<=50K
31,<=50K
25,<=50K
55,<=50K
19,<=50K
62,<=50K
22,<=50K
35,<=50K
28,<=50K
47,>50K
44,<=50K
21,<=50K
35,<=50K
24,>50K
28,<=50K
21,<=50K
62,<=50K
39,<=50K
30,<=50K
72,<=50K
50,<=50K
28,<=50K
29,<=50K
26,<=50K
27,<=50K
29,>50K
29,<=50K
31,<=50K
25,<=50K
58,>50K
64,>50K
46,<=50K
19,<=50K
42,<=50K
18,<=50K
58,>50K
20,<=50K
35,>50K
32,>50K
23,<=50K
31,<=50K
33,<=50K
41,<=50K
22,<=50K
46,>50K
61,<=50K
30,<=50K
42,>50K
63,<=50K
26,<=50K
42,<=50K
23,<=50K
25,<=50K
30,>50K
23,<=50K
34,>50K
30,<=50K
39,>50K
30,<=50K
38,<=50K
26,<=50K
20,<=50K
33,<=50K
24,<=50K
42,>50K
51,<=50K
56,>50K
22,<=50K
52,<=50K
44,>50K
34,<=50K
51,>50K
19,<=50K
37,>50K
68,>50K
22,<=50K
56,<=50K
37,<=50K
52,<=50K
26,<=50K
33,<=50K
45,<=50K
18,<=50K
43,>50K
18,<=50K
57,>50K
41,<=50K
34,>50K
19,<=50K
44,<=50K
56,<=50K
36,<=50K
48,<=50K
29,>50K
33,<=50K
31,<=50K
39,>50K
66,>50K
27,>50K
39,>50K
59,>50K
26,<=50K
31,<=50K
23,<=50K
36,<=50K
34,>50K
32,>50K
37,>50K
33,<=50K
50,>50K
32,<=50K
35,<=50K
37,<=50K
44,<=50K
57,<=50K
29,<=50K
55,>50K
43,>50K
43,<=50K
45,>50K
33,<=50K
26,<=50K
23,<=50K
41,<=50K
24,<=50K
47,<=50K
34,<=50K
40,>50K
28,<=50K
24,<=50K
23,<=50K
43,>50K
26,<=50K
58,>50K
52,<=50K
29,>50K
47,<=50K
49,<=50K
40,<=50K
62,<=50K
49,>50K
50,>50K
31,<=50K
48,<=50K
24,<=50K
37,<=50K
45,>50K
36,<=50K
45,<=50K
41,<=50K
26,<=50K
17,<=50K
43,<=50K
35,<=50K
38,<=50K
26,<=50K
28,<=50K
38,>50K
36,<=50K
33,>50K
19,<=50K
42,<=50K
50,>50K
30,<=50K
37,<=50K
54,>50K
52,<=50K
33,<=50K
25,<=50K
24,<=50K
26,<=50K
39,>50K
59,<=50K
29,<=50K
47,<=50K
64,<=50K
21,<=50K
32,>50K
26,<=50K
62,<=50K
32,>50K
45,<=50K
31,>50K
32,<=50K
24,<=50K
25,<=50K
41,<=50K
18,<=50K
44,>50K
40,<=50K
27,<=50K
23,<=50K
21,<=50K
37,<=50K
65,<=50K
43,>50K
45,<=50K
24,<=50K
24,<=50K
19,<=50K
37,>50K
24,<=50K
34,<=50K
50,<=50K
36,<=50K
39,<=50K
44,<=50K
45,<=50K
32,<=50K
47,>50K
50,<=50K
32,<=50K
19,<=50K
28,<=50K
39,>50K
21,<=50K
73,<=50K
39,<=50K
25,<=50K
31,<=50K
51,<=50K
39,<=50K
31,<=50K
21,<=50K
46,>50K
73,<=50K
41,<=50K
20,<=50K
27,<=50K
24,<=50K
20,<=50K
39,<=50K
27,<=50K
33,<=50K
33,<=50K
36,<=50K
55,<=50K
19,<=50K
35,<=50K
34,<=50K
62,<=50K
33,>50K
39,<=50K
36,<=50K
41,<=50K
39,<=50K
18,<=50K
61,>50K
20,<=50K
35,>50K
27,<=50K
66,<=50K
21,<=50K
20,<=50K
34,<=50K
31,<=50K
41,<=50K
64,<=50K
32,<=50K
30,>50K
36,<=50K
22,<=50K
53,<=50K
50,<=50K
36,<=50K
41,<=50K
55,<=50K
38,>50K
28,<=50K
24,<=50K
60,<=50K
54,<=50K
27,<=50K
30,<=50K
54,<=50K
44,>50K
52,>50K
18,<=50K
55,<=50K
35,>50K
37,>50K
22,<=50K
45,>50K
38,<=50K
48,<=50K
35,<=50K
21,<=50K
37,>50K
18,<=50K
26,<=50K
48,<=50K
51,>50K
52,<=50K
32,>50K
39,<=50K
51,>50K
54,<=50K
21,<=50K
43,<=50K
32,<=50K
31,>50K
26,<=50K
35,<=50K
73,>50K
25,<=50K
58,<=50K
32,<=50K
28,<=50K
41,<=50K
53,<=50K
49,<=50K
55,>50K
29,>50K
28,<=50K
44,<=50K
41,>50K
26,>50K
23,>50K
37,>50K
23,>50K
33,<=50K
44,>50K
21,<=50K
36,<=50K
44,<=50K
23,<=50K
26,<=50K
32,<=50K
31,>50K
50,<=50K
18,<=50K
49,>50K
59,<=50K
38,<=50K
50,<=50K
51,<=50K
22,<=50K
54,>50K
37,<=50K
31,<=50K
67,<=50K
21,<=50K
30,<=50K
32,<=50K
36,<=50K
33,<=50K
37,<=50K
29,>50K
26,<=50K
51,<=50K
39,<=50K
18,<=50K
52,<=50K
31,<=50K
45,>50K
38,<=50K
21,<=50K
33,<=50K
39,<=50K
31,<=50K
43,>50K
33,>50K
49,<=50K
41,<=50K
55,<=50K
52,<=50K
42,<=50K
24,<=50K
42,<=50K
41,>50K
35,<=50K
54,>50K
24,<=50K
57,>50K
58,>50K
32,<=50K
22,<=50K
20,<=50K
26,<=50K
33,<=50K
19,<=50K
50,>50K
32,<=50K
51,>50K
18,<=50K
35,>50K
46,<=50K
37,<=50K
45,>50K
63,<=50K
53,<=50K
24,<=50K
47,<=50K
41,<=50K
27,<=50K
35,<=50K
19,<=50K
47,<=50K
25,<=50K
59,>50K
28,<=50K
17,<=50K
21,<=50K
31,<=50K
49,<=50K
48,>50K
60,<=50K
33,<=50K
40,<=50K
42,<=50K
34,<=50K
38,<=50K
58,>50K
52,<=50K
22,<=50K
24,>50K
39,<=50K
41,>50K
56,<=50K
21,<=50K
29,<=50K
45,<=50K
44,>50K
54,>50K
24,<=50K
40,<=50K
43,>50K
41,<=50K
32,<=50K
31,<=50K
26,<=50K
50,>50K
62,<=50K
24,<=50K
58,>50K
44,>50K
44,<=50K
37,>50K
65,<=50K
33,>50K
56,>50K
35,>50K
33,<=50K
35,<=50K
47,<=50K
35,<=50K
56,<=50K
29,<=50K
53,>50K
42,<=50K
24,<=50K
33,<=50K
42,<=50K
38,>50K
32,<=50K
20,<=50K
32,<=50K
28,>50K
51,>50K
41,<=50K
37,<=50K
23,<=50K
40,<=50K
47,<=50K
46,<=50K
24,<=50K
40,<=50K
30,<=50K
41,>50K
37,>50K
49,<=50K
41,>50K
52,<=50K
23,<=50K
34,<=50K
25,>50K
44,>50K
31,<=50K
53,<=50K
62,<=50K
35,<=50K
30,<=50K
48,>50K
36,>50K
32,<=50K
22,<=50K
19,<=50K
26,<=50K
56,>50K
45,<=50K
23,<=50K
31,<=50K
30,<=50K
42,<=50K
27,<=50K
37,>50K
31,<=50K
33,<=50K
64,<=50K
32,<=50K
37,<=50K
25,<=50K
49,<=50K
36,>50K
67,<=50K
54,>50K
45,>50K
30,<=50K
39,<=50K
57,<=50K
57,<=50K
23,<=50K
49,<=50K
46,>50K
41,<=50K
44,<=50K
25,<=50K
34,>50K
24,<=50K
32,<=50K
27,>50K
67,<=50K
36,<=50K
40,<=50K
24,<=50K
46,>50K
44,<=50K
23,>50K
46,<=50K
31,<=50K
21,<=50K
61,>50K
71,<=50K
42,>50K
21,<=50K
21,<=50K
28,<=50K
27,<=50K
32,<=50K
47,<=50K
22,<=50K
56,<=50K
20,<=50K
30,<=50K
22,<=50K
28,>50K
50,>50K
66,<=50K
38,<=50K
62,<=50K
36,>50K
47,<=50K
25,<=50K
26,<=50K
37,<=50K
70,<=50K
52,<=50K
70,<=50K
19,<=50K
23,<=50K
37,<=50K
45,<=50K
29,>50K
56,<=50K
50,<=50K
20,<=50K
26,<=50K
41,>50K
21,<=50K
48,<=50K
22,<=50K
37,<=50K
47,>50K
61,<=50K
47,>50K
37,<=50K
46,<=50K
42,<=50K
41,<=50K
33,<=50K
24,<=50K
27,<=50K
40,<=50K
56,<=50K
35,<=50K
24,<=50K
73,<=50K
36,<=50K
31,>50K
36,<=50K
37,>50K
26,<=50K
20,<=50K
58,>50K
45,>50K
31,<=50K
44,>50K
19,<=50K
54,>50K
31,<=50K
27,<=50K
36,>50K
47,<=50K
35,<=50K
42,>50K
45,<=50K
70,<=50K
27,<=50K
36,>50K
23,<=50K
25,<=50K
45,>50K
24,<=50K
90,>50K
50,>50K
37,>50K
31,<=50K
17,<=50K
26,<=50K
41,<=50K
50,>50K
45,<=50K
54,>50K
54,<=50K
38,<=50K
22,<=50K
43,<=50K
30,>50K
42,<=50K
48,>50K
56,>50K
21,<=50K
45,<=50K
37,>50K
38,<=50K
34,<=50K
29,<=50K
24,<=50K
35,<=50K
39,<=50K
73,<=50K
57,<=50K
35,<=50K
60,<=50K
54,<=50K
53,<=50K
23,<=50K
57,>50K
27,<=50K
25,<=50K
38,<=50K
48,>50K
24,<=50K
67,<=50K
20,<=50K
38,>50K
54,<=50K
20,<=50K
57,<=50K
34,<=50K
34,<=50K
80,<=50K
40,<=50K
19,<=50K
35,<=50K
21,<=50K
59,<=50K
53,>50K
41,>50K
59,<=50K
52,<=50K
48,<=50K
24,<=50K
49,>50K
19,<=50K
50,<=50K
39,>50K
25,<=50K
66,<=50K
30,<=50K
49,>50K
40,<=50K
38,<=50K
25,<=50K
51,>50K
23,<=50K
60,>50K
44,>50K
53,>50K
66,>50K
44,<=50K
38,>50K
30,>50K
36,<=50K
38,>50K
31,<=50K
26,<=50K
23,<=50K
58,<=50K
44,<=50K
59,>50K
36,<=50K
42,>50K
17,<=50K
59,<=50K
22,<=50K
40,<=50K
36,<=50K
49,>50K
38,<=50K
48,<=50K
33,<=50K
34,<=50K
58,<=50K
52,<=50K
45,>50K
37,<=50K
48,<=50K
40,>50K
29,<=50K
33,<=50K
48,<=50K
36,<=50K
31,<=50K
41,<=50K
29,<=50K
20,<=50K
53,>50K
37,<=50K
28,<=50K
27,<=50K
23,<=50K
25,>50K
63,<=50K
65,<=50K
77,<=50K
32,<=50K
40,>50K
67,<=50K
24,<=50K
53,>50K
37,>50K
44,<=50K
17,<=50K
47,>50K
62,<=50K
39,<=50K
32,<=50K
25,>50K
30,>50K
47,>50K
40,<=50K
38,<=50K
41,>50K
21,<=50K
32,>50K
54,<=50K
31,<=50K
42,<=50K
23,<=50K
18,<=50K
37,<=50K
53,<=50K
50,<=50K
64,>50K
55,<=50K
63,>50K
53,<=50K
18,<=50K
33,<=50K
62,<=50K
56,>50K
58,>50K
33,<=50K
58,<=50K
44,>50K
81,<=50K
28,<=50K
28,<=50K
43,>50K
51,<=50K

In [10]:
# Step 4.1 Selecting Columns
step3.select('education','income').head(5)

In [11]:
#df = spark.read.options(header =True, inferSchema = True).csv("mtcars")

In [12]:
#Filtering data two ways tp do that second one is slower
step3[(step3.age>30) & (step3.age<35)].show(5)
#step3.filter((step3.age>30) & (step3.age<35)).show(5)

In [13]:
#Addning the new column
#step3.withColumn('new',step3.capitalgain-step3.capitalloss).show(5)

In [14]:
# categorizing age group
def categorizer(age):
  if age < 30:
    return "young"
  elif age < 45:
    return "middle"
  elif age < 60:
    return "senior"
  elif age < 60:
    return "top senior"
  else: 
    return "retired"
# i have to write udf(user defined functions and below is one way to do so)
# udf(user defined function) the function and its type and then use withcolumn to apply the transformation  
from pyspark.sql.functions import udf
from pyspark.sql.types import *
bucket_udf = udf(categorizer, StringType() )     
step3 = step3.withColumn("age group", bucket_udf("age"))

In [15]:
# categorizing hrs/week
def worktimecategorizer(hours):
  if hours <= 25:
    return "Temp"
  elif hours <= 45:
    return "Full time"
  else:
    return "Overtime"
# i have to write udf(user defined functions and below is one way to do so)
from pyspark.sql.functions import udf
from pyspark.sql.types import *
workbucket_udf = udf(worktimecategorizer, StringType())     
step3 = step3.withColumn("workhour", workbucket_udf("hr_per_wk")).drop('hr_per_wk').withColumnRenamed('workhour','hr/wk')

In [16]:
Asia=['China','Hong','India','Iran','Cambodia','Japan', 'Laos',
        ' Philippines' ,' Vietnam' ,' Taiwan', ' Thailand']
North_America = ['Canada','United-States','Puerto-Rico' ]

Europe = ['England' ,'France', 'Germany' ,'Greece','Holand-Netherlands','Hungary',
            'Ireland','Italy','Poland','Portugal','Scotland','Yugoslavia']

Latin_and_SouthAmerica = ['Columbia','Cuba','Dominican-Republic','Ecuador',
                             'El-Salvador','Guatemala',' Haiti',' Honduras',
                             'Mexico','Nicaragua','Outlying-US(Guam-USVI-etc)','Peru',
                             'Jamaica','Trinadad&Tobago']
Other= ['South']

def regionlist(countries):
  if countries in Asia:
    return "Asia"
  if countries in North_America:
    return "North America"
  if countries in Europe:
    return "Europe"
  if countries in Latin_and_SouthAmerica:
    return "Latin & South America"
  else:
    return "Others"
# udf(user defined function) the function and its type and then use withcolumn to apply the transformation  
region_udf = udf(regionlist,StringType())
step3 = step3.withColumn("Reg",region_udf("region")).drop('region').withColumnRenamed('Reg','region')

In [17]:
def employementtype(job):
  if(job=='Never-worked'or job=='Without-pay'):
    return "Unemployed"
  if(job=='State-gov' or job=='Local-gov'):
    return "Govt"
  if(job=='Self-emp-inc' or job=='Self-emp-not-inc'):
    return "self_emp"
  else:
    return(job)
# udf(user defined function) the function and its type and then use withcolumn to apply the transformation  
etype_udf = udf(employementtype,StringType())
step3 = step3.withColumn("employement", etype_udf("employer_type")).drop('employer_type').withColumnRenamed('employement','employer type')
#employementtype('Never-worked')

In [18]:
def maritalstat(mar):
  #mar= as.character(mar)
  
  if mar in ['Separated','Widowed','Divorced']:
    return "Not-Married"
  elif mar== 'Never-married':
    return "Never-married"
  else: 
    return "Married"
# udf(user defined function) the function and its type and then use withcolumn to apply the transformation
marital_udf = udf(maritalstat,StringType())
step3 = step3.withColumn("status", marital_udf("marital")).drop('marital').withColumnRenamed('status','marital')
#maritalstat('Separated')

In [19]:
step3.printSchema()
step3.cache()

In [20]:
census_clean = step3

# Basic cleaning is done
#Time for Some Visualizations and analyse my data

#KPI 2

In [23]:
#How to use groupby and aggregate functions alongwith it
#KPI2
daf02 = census_clean.groupby(['education']).agg({'capitalgain':'mean','capitalloss':'mean'})
display(daf02.sort("avg(capitalgain)", ascending  = False))

education,avg(capitalloss),avg(capitalgain)
Prof-school,239.3936305732484,10981.208917197453
Doctorate,236.18566176470588,6068.02205882353
Masters,167.23070803500397,2567.1495624502786
Bachelors,124.98375165125495,1744.5273447820343
Preschool,47.09722222222222,843.8333333333334
Assoc-voc,69.66462480857581,805.1408882082695
HS-grad,69.4066833524995,581.5359534600555
Assoc-acdm,92.2733908427339,572.4452554744526
Some-college,73.83149813112436,570.4425699565612
5th-6th,68.86191536748329,387.0423162583519
9th,37.62278106508876,327.2869822485207
10th,59.37694194603434,323.71054783319704
7th-8th,57.410692588092346,252.37059538274605
11th,50.795552810376776,212.508956145769
12th,30.07625649913345,197.78336221837088
1st-4th,53.513513513513516,119.75225225225225

#KPI 3

In [25]:
#KPI3
daf03 = census_clean.groupBy(['income','age group']).agg({'capitalgain':'mean', 'capitalloss':'mean'})
display(daf03.sort("avg(capitalgain)", ascending = False))

income,age group,avg(capitalloss),avg(capitalgain)
>50K,retired,217.38341346153845,6202.330528846154
>50K,senior,192.30252100840337,4451.461951447245
>50K,middle,191.16942841184138,3417.7482777881214
>50K,young,190.2149791955617,2985.9542302357836
<=50K,retired,70.08077879038939,315.3384424192212
<=50K,senior,64.9410719573586,170.50488599348535
<=50K,middle,58.87821434275675,155.7339881808018
<=50K,young,39.98693605972087,97.85491723466407

#KPI 4

In [27]:
#KPI 4
daf04 = census_clean.groupBy('race','income').agg({'income':'count'})
display(daf04.sort("count(income)", ascending = False))

race,income,count(income)
White,<=50K,28696
White,>50K,10207
Black,<=50K,3694
Asian-Pac-Islander,<=50K,934
Black,>50K,534
Amer-Indian-Eskimo,<=50K,382
Asian-Pac-Islander,>50K,369
Other,<=50K,308
Amer-Indian-Eskimo,>50K,53
Other,>50K,45

#KPI stat

In [29]:
census_clean.groupBy('income').agg({'age':'mean'}).show()

#KPI 5

In [31]:
#KPI 5
daf05 = census_clean.groupBy(['gender','relationship']).agg({'age':'mean'})
#daf05.describe
display(daf05.sort("avg(age)", ascending = False))

gender,relationship,avg(age)
Male,Husband,43.35788909724082
Female,Unmarried,40.79030933479332
Female,Wife,39.97464114832536
Female,Not-in-family,39.738913525498894
Male,Unmarried,38.70044052863436
Female,Other-relative,36.90327868852459
Male,Not-in-family,36.58139904610493
Female,Husband,34.0
Male,Other-relative,30.687415426251693
Male,Wife,29.0
Male,Own-child,25.35028401406546
Female,Own-child,25.034141345169

#KPI 6

In [33]:
#KPI 6
daf06 = census_clean.groupBy('education','income').agg({'income':'count'})
display(daf06.sort('count(income)',ascending = False))

education,income,count(income)
HS-grad,<=50K,12367
Some-college,<=50K,7909
Bachelors,<=50K,4392
Bachelors,>50K,3178
HS-grad,>50K,2416
Some-college,>50K,1990
11th,<=50K,1530
Assoc-voc,<=50K,1455
Masters,>50K,1393
10th,<=50K,1141
Masters,<=50K,1121
Assoc-acdm,<=50K,1109
7th-8th,<=50K,768
9th,<=50K,638
Prof-school,>50K,592
12th,<=50K,534
Assoc-voc,>50K,504
5th-6th,<=50K,427
Doctorate,>50K,399
Assoc-acdm,>50K,398
1st-4th,<=50K,214
Prof-school,<=50K,193
Doctorate,<=50K,145
11th,>50K,89
10th,>50K,82
Preschool,<=50K,71
7th-8th,>50K,55
12th,>50K,43
9th,>50K,38
5th-6th,>50K,22
1st-4th,>50K,8
Preschool,>50K,1

#KPI 7

In [35]:
#KPI 7
daf07 = census_clean.groupBy('age group','income').agg({'income':'count'})
display(daf07.sort("count(income)", ascending = False))

age group,income,count(income)
middle,<=50K,12522
young,<=50K,12324
senior,<=50K,6754
middle,>50K,5371
senior,>50K,4284
retired,<=50K,2414
retired,>50K,832
young,>50K,721

#KPI 8

In [37]:
#KPI 8
daf08 = census_clean.groupBy('age group','hr/wk').agg({'income':'count'})
display(daf08.sort("count(income)", ascending = False))

age group,hr/wk,count(income)
middle,Full time,12192
young,Full time,8519
senior,Full time,7506
middle,Overtime,4937
senior,Overtime,2998
young,Temp,2700
retired,Full time,1875
young,Overtime,1826
retired,Temp,859
middle,Temp,764
senior,Temp,534
retired,Overtime,512

#KPI 9

In [39]:
#KPI 9
daf09 = census_clean.groupBy(['employer type','income']).agg({'income':'count'})
display(daf09.sort("count(income)", ascending = False))

employer type,income,count(income)
Private,<=50K,26056
Private,>50K,7251
Govt,<=50K,3611
self_emp,<=50K,3471
self_emp,>50K,1971
Govt,>50K,1435
Federal-gov,<=50K,857
Federal-gov,>50K,549
Unemployed,<=50K,19
Unemployed,>50K,2

#KPI 10

In [41]:
#KPI 10
display(census_clean.groupBy(['gender','employer type']).agg({'gender':'count'}))

gender,employer type,count(gender)
Male,self_emp,4626
Male,Govt,3047
Male,Unemployed,14
Male,Federal-gov,961
Female,Federal-gov,445
Female,Govt,1999
Male,Private,21879
Female,Unemployed,7
Female,self_emp,816
Female,Private,11428

#KPI 11

In [43]:
#KPI 11
daf11 = census_clean.groupBy(['employer type','hr/wk']).agg({'hr/wk':'count'})
display(daf11.sort('count(hr/wk)',ascending = False))

employer type,hr/wk,count(hr/wk)
Private,Full time,22963
Private,Overtime,6669
Private,Temp,3675
Govt,Full time,3607
self_emp,Overtime,2449
self_emp,Full time,2403
Federal-gov,Full time,1112
Govt,Overtime,921
self_emp,Temp,590
Govt,Temp,518
Federal-gov,Overtime,229
Federal-gov,Temp,65
Unemployed,Temp,9
Unemployed,Full time,7
Unemployed,Overtime,5

#KPI 12

In [45]:
#KPI 12
display(census_clean.groupBy(['gender','income']).agg({'income':'count'}))

gender,income,count(income)
Male,<=50K,20988
Male,>50K,9539
Female,<=50K,13026
Female,>50K,1669

#KPI 13

In [47]:
#KPI 13
daf13 = census_clean.groupBy(['marital','income']).agg({'income':'count'})
display(daf13.sort("count(income)", ascending  = False))

marital,income,count(income)
Never-married,<=50K,13897
Married,<=50K,12007
Married,>50K,9632
Not-Married,<=50K,8110
Not-Married,>50K,875
Never-married,>50K,701

#KPI 14

In [49]:
#KPI 14
display(census_clean.groupBy(['marital','gender']).agg({'income':'count'}))

marital,gender,count(income)
Never-married,Male,8085
Married,Female,2508
Never-married,Female,6513
Not-Married,Female,5674
Not-Married,Male,3311
Married,Male,19131

#KPI 15

In [51]:
#KPI 15
daf15 = census_clean.groupBy(['marital','employer type']).agg({'income':'count'})
display(daf15.sort("count(income)", ascending = False))

marital,employer type,count(income)
Married,Private,14654
Never-married,Private,12011
Not-Married,Private,6642
Married,self_emp,3799
Married,Govt,2447
Never-married,Govt,1417
Not-Married,Govt,1182
Not-Married,self_emp,839
Never-married,self_emp,804
Married,Federal-gov,725
Never-married,Federal-gov,360
Not-Married,Federal-gov,321
Married,Unemployed,14
Never-married,Unemployed,6
Not-Married,Unemployed,1

#KPI 16

In [53]:
#KPI 16
#display(census_clean.groupBy(['education','income']).agg({'income':'count'}))
daf16 = census_clean.groupBy(['education','income']).agg({'income':'count'})
display(  daf16.sort("count(income)", ascending=False))

education,income,count(income)
HS-grad,<=50K,12367
Some-college,<=50K,7909
Bachelors,<=50K,4392
Bachelors,>50K,3178
HS-grad,>50K,2416
Some-college,>50K,1990
11th,<=50K,1530
Assoc-voc,<=50K,1455
Masters,>50K,1393
10th,<=50K,1141
Masters,<=50K,1121
Assoc-acdm,<=50K,1109
7th-8th,<=50K,768
9th,<=50K,638
Prof-school,>50K,592
12th,<=50K,534
Assoc-voc,>50K,504
5th-6th,<=50K,427
Doctorate,>50K,399
Assoc-acdm,>50K,398
1st-4th,<=50K,214
Prof-school,<=50K,193
Doctorate,<=50K,145
11th,>50K,89
10th,>50K,82
Preschool,<=50K,71
7th-8th,>50K,55
12th,>50K,43
9th,>50K,38
5th-6th,>50K,22
1st-4th,>50K,8
Preschool,>50K,1

#KPI 17

In [55]:
#KPI 17
daf17 = census_clean.groupBy(['occupation','income']).agg({'income':'count'})
display(daf17.sort("count(income)", ascending = False))

occupation,income,count(income)
Adm-clerical,<=50K,4784
Craft-repair,<=50K,4665
Other-service,<=50K,4612
Sales,<=50K,3953
Prof-specialty,<=50K,3304
Exec-managerial,<=50K,3117
Exec-managerial,>50K,2867
Prof-specialty,>50K,2704
Machine-op-inspct,<=50K,2605
Handlers-cleaners,<=50K,1911
Transport-moving,<=50K,1838
Sales,>50K,1455
Craft-repair,>50K,1355
Farming-fishing,<=50K,1308
Tech-support,<=50K,1009
Adm-clerical,>50K,756
Protective-serv,<=50K,669
Transport-moving,>50K,478
Tech-support,>50K,411
Machine-op-inspct,>50K,365
Protective-serv,>50K,307
Priv-house-serv,<=50K,229
Other-service,>50K,196
Farming-fishing,>50K,172
Handlers-cleaners,>50K,135
Armed-Forces,<=50K,10
Armed-Forces,>50K,4
Priv-house-serv,>50K,3

In [56]:
#KPI 17
daf017 = census_clean.groupBy(['education','occupation']).agg({'income':'count'})
display(daf017.sort("count(income)", ascending = False))

education,occupation,count(income)
HS-grad,Craft-repair,2882
Bachelors,Prof-specialty,2178
HS-grad,Adm-clerical,2028
Bachelors,Exec-managerial,1977
HS-grad,Other-service,1892
Some-college,Adm-clerical,1833
HS-grad,Sales,1553
HS-grad,Machine-op-inspct,1515
Some-college,Sales,1483
Some-college,Exec-managerial,1277
Masters,Prof-specialty,1260
Bachelors,Sales,1244
Some-college,Craft-repair,1238
HS-grad,Transport-moving,1212
HS-grad,Exec-managerial,1182
Some-college,Other-service,1150
HS-grad,Handlers-cleaners,934
Masters,Exec-managerial,762
Bachelors,Adm-clerical,752
Prof-school,Prof-specialty,651
Some-college,Prof-specialty,630
HS-grad,Farming-fishing,567
Some-college,Machine-op-inspct,485
Doctorate,Prof-specialty,424
Some-college,Tech-support,423
Some-college,Transport-moving,403
Some-college,Handlers-cleaners,393
Assoc-voc,Craft-repair,370
11th,Other-service,366
HS-grad,Prof-specialty,336
Bachelors,Tech-support,335
HS-grad,Protective-serv,325
Bachelors,Craft-repair,323
Some-college,Protective-serv,303
10th,Other-service,279
Assoc-acdm,Adm-clerical,278
Assoc-voc,Adm-clerical,267
11th,Craft-repair,266
HS-grad,Tech-support,266
Some-college,Farming-fishing,252
Assoc-voc,Prof-specialty,245
Bachelors,Other-service,243
Assoc-acdm,Exec-managerial,237
10th,Craft-repair,232
Assoc-voc,Exec-managerial,232
11th,Sales,228
Assoc-acdm,Sales,205
Assoc-acdm,Prof-specialty,203
Masters,Sales,200
Assoc-voc,Tech-support,181
11th,Handlers-cleaners,176
Assoc-acdm,Craft-repair,166
7th-8th,Craft-repair,166
Assoc-voc,Sales,161
Assoc-voc,Other-service,155
11th,Machine-op-inspct,153
10th,Machine-op-inspct,149
Bachelors,Protective-serv,147
7th-8th,Other-service,141
9th,Craft-repair,140
9th,Other-service,139
11th,Transport-moving,134
7th-8th,Machine-op-inspct,128
10th,Transport-moving,127
12th,Other-service,124
10th,Sales,119
Assoc-acdm,Tech-support,114
Bachelors,Farming-fishing,112
Assoc-acdm,Other-service,110
10th,Handlers-cleaners,108
7th-8th,Farming-fishing,105
Masters,Adm-clerical,102
9th,Machine-op-inspct,101
11th,Adm-clerical,100
5th-6th,Other-service,94
Assoc-voc,Machine-op-inspct,93
12th,Craft-repair,89
5th-6th,Machine-op-inspct,87
7th-8th,Transport-moving,87
Bachelors,Machine-op-inspct,87
HS-grad,Priv-house-serv,86
Assoc-voc,Farming-fishing,85
Bachelors,Transport-moving,83
Doctorate,Exec-managerial,83
Bachelors,Handlers-cleaners,77
9th,Handlers-cleaners,72
10th,Farming-fishing,70
5th-6th,Craft-repair,68
11th,Farming-fishing,67
Assoc-voc,Protective-serv,67
12th,Sales,66
7th-8th,Handlers-cleaners,64
Prof-school,Exec-managerial,63
9th,Transport-moving,60
12th,Machine-op-inspct,60
10th,Adm-clerical,59
5th-6th,Handlers-cleaners,58
Masters,Tech-support,57
Assoc-voc,Transport-moving,55
12th,Handlers-cleaners,54
1st-4th,Other-service,53
12th,Transport-moving,53
5th-6th,Farming-fishing,52
Assoc-acdm,Machine-op-inspct,51
11th,Exec-managerial,50
Assoc-acdm,Protective-serv,50
12th,Adm-clerical,49
9th,Sales,46
9th,Farming-fishing,44
Assoc-voc,Handlers-cleaners,43
10th,Exec-managerial,42
7th-8th,Sales,40
5th-6th,Transport-moving,37
1st-4th,Machine-op-inspct,36
11th,Prof-specialty,34
Assoc-acdm,Transport-moving,34
Masters,Other-service,34
1st-4th,Farming-fishing,33
Masters,Craft-repair,33
Assoc-acdm,Handlers-cleaners,32
12th,Farming-fishing,29
1st-4th,Craft-repair,28
7th-8th,Exec-managerial,27
Assoc-acdm,Farming-fishing,25
Some-college,Priv-house-serv,25
1st-4th,Handlers-cleaners,25
9th,Exec-managerial,22
Prof-school,Sales,22
Preschool,Other-service,21
7th-8th,Adm-clerical,20
Masters,Protective-serv,20
9th,Adm-clerical,20
5th-6th,Priv-house-serv,19
11th,Priv-house-serv,18
12th,Exec-managerial,18
11th,Protective-serv,18
Preschool,Farming-fishing,17
7th-8th,Priv-house-serv,17
Doctorate,Sales,16
9th,Priv-house-serv,16
5th-6th,Sales,16
Masters,Farming-fishing,14
1st-4th,Priv-house-serv,14
Masters,Transport-moving,13
10th,Prof-specialty,13
10th,Protective-serv,12
Preschool,Machine-op-inspct,12
Masters,Machine-op-inspct,12
12th,Prof-specialty,12
7th-8th,Prof-specialty,11
Prof-school,Adm-clerical,11
7th-8th,Protective-serv,11
1st-4th,Transport-moving,11
Bachelors,Priv-house-serv,11
Prof-school,Tech-support,10
12th,Protective-serv,10
Prof-school,Craft-repair,9
9th,Protective-serv,9
11th,Tech-support,9
10th,Priv-house-serv,8
12th,Priv-house-serv,8
5th-6th,Adm-clerical,8
1st-4th,Sales,7
Prof-school,Other-service,7
Prof-school,Farming-fishing,7
Preschool,Craft-repair,6
7th-8th,Tech-support,6
Doctorate,Tech-support,6
5th-6th,Exec-managerial,6
10th,Tech-support,5
1st-4th,Adm-clerical,5
Doctorate,Adm-clerical,5
Preschool,Handlers-cleaners,5
Assoc-voc,Priv-house-serv,5
Masters,Handlers-cleaners,5
1st-4th,Exec-managerial,5
HS-grad,Armed-Forces,5
Some-college,Armed-Forces,4
9th,Prof-specialty,4
1st-4th,Prof-specialty,4
12th,Tech-support,4
Doctorate,Craft-repair,4
9th,Tech-support,3
Preschool,Adm-clerical,3
Prof-school,Transport-moving,3
Preschool,Transport-moving,2
Doctorate,Transport-moving,2
5th-6th,Prof-specialty,2
Preschool,Priv-house-serv,2
Preschool,Sales,2
Masters,Armed-Forces,2
Assoc-acdm,Priv-house-serv,2
5th-6th,Tech-support,1
Doctorate,Protective-serv,1
Preschool,Prof-specialty,1
Prof-school,Protective-serv,1
1st-4th,Protective-serv,1
12th,Armed-Forces,1
5th-6th,Protective-serv,1
Doctorate,Priv-house-serv,1
Doctorate,Machine-op-inspct,1
Prof-school,Armed-Forces,1
Doctorate,Farming-fishing,1
Preschool,Exec-managerial,1
Bachelors,Armed-Forces,1

#KPI 18

In [58]:
daf18 = census_clean.groupBy(['age','income']).agg({'income':'count'})
display(daf18.sort('age'))
#daf.describe()

age,income,count(income)
17,<=50K,493
18,<=50K,695
19,>50K,2
19,<=50K,862
20,<=50K,915
20,>50K,1
21,>50K,6
21,<=50K,929
22,<=50K,1019
22,>50K,15
23,>50K,21
23,<=50K,1220
24,>50K,43
24,<=50K,1087
25,>50K,75
25,<=50K,1058
26,<=50K,1009
26,>50K,83
27,<=50K,1050
27,>50K,107
28,<=50K,1024
28,>50K,174
29,>50K,194
29,<=50K,963
30,>50K,243
30,<=50K,972
31,>50K,269
31,<=50K,1005
32,<=50K,906
32,>50K,290
33,<=50K,992
33,>50K,287
34,<=50K,894
34,>50K,340
35,>50K,323
35,<=50K,949
36,>50K,390
36,<=50K,893
37,<=50K,818
37,>50K,411
38,<=50K,812
38,>50K,399
39,>50K,414
39,<=50K,755
40,<=50K,761
40,>50K,383
41,<=50K,761
41,>50K,413
42,>50K,410
42,<=50K,703
43,>50K,400
43,<=50K,665
44,<=50K,636
44,>50K,399
45,>50K,402
45,<=50K,647
46,<=50K,633
46,>50K,429
47,<=50K,620
47,>50K,418
48,<=50K,492
48,>50K,323
49,<=50K,507
49,>50K,303
50,>50K,362
50,<=50K,467
51,>50K,338
51,<=50K,497
52,<=50K,435
52,>50K,265
53,>50K,279
53,<=50K,410
54,>50K,236
54,<=50K,348
55,<=50K,380
55,>50K,194
56,>50K,175
56,<=50K,359
57,>50K,192
57,<=50K,322
58,<=50K,330
58,>50K,187
59,>50K,181
59,<=50K,307
60,<=50K,276
60,>50K,122
61,<=50K,270
61,>50K,124
62,>50K,86
62,<=50K,242
63,<=50K,202
63,>50K,78
64,>50K,76
64,<=50K,209
65,>50K,54
65,<=50K,163
66,<=50K,133
66,>50K,47
67,<=50K,135
67,>50K,45
68,>50K,30
68,<=50K,106
69,>50K,24
69,<=50K,92
70,>50K,20
70,<=50K,76
71,<=50K,68
71,>50K,22
72,>50K,11
72,<=50K,72
73,>50K,15
73,<=50K,67
74,>50K,18
74,<=50K,41
75,>50K,12
75,<=50K,41
76,>50K,5
76,<=50K,41
77,<=50K,33
77,>50K,6
78,>50K,5
78,<=50K,16
79,<=50K,14
79,>50K,6
80,>50K,3
80,<=50K,26
81,<=50K,21
81,>50K,6
82,<=50K,10
83,<=50K,7
83,>50K,2
84,>50K,1
84,<=50K,8
85,>50K,1
85,<=50K,4
86,<=50K,1
87,<=50K,1
88,<=50K,4
88,>50K,1
89,<=50K,1
90,<=50K,34
90,>50K,12

#KPI 19

In [60]:
daf19 = census_clean.groupBy(['age']).agg({'capitalgain':'mean', 'capitalloss':'mean'})
display(daf19.sort('age'))

age,avg(capitalloss),avg(capitalgain)
17,36.70182555780933,26.75659229208925
18,26.20287769784173,85.41438848920863
19,40.1712962962963,130.32291666666666
20,36.26091703056768,41.66266375545852
21,42.35294117647059,188.1668449197861
22,23.911992263056092,285.7147001934236
23,44.2232070910556,189.42788074133762
24,39.419469026548676,147.40265486725664
25,53.17828773168579,251.65754633715798
26,44.58791208791209,314.6703296703297
27,71.64822817631807,273.6205704407952
28,74.81886477462437,665.5767946577629
29,69.57216940363008,449.28522039757996
30,84.32098765432099,871.7316872427983
31,96.12715855572998,636.9788069073784
32,98.29264214046823,1143.0660535117056
33,81.3862392494136,739.3721657544957
34,98.89222042139384,708.6223662884927
35,76.15723270440252,754.7861635220125
36,85.35541699142634,1089.1052221356197
37,85.65907241659886,988.1310008136696
38,84.1568951279934,1441.3484723369118
39,131.23353293413174,1274.8947818648417
40,104.73164335664336,1203.5332167832169
41,122.76831345826236,1760.451448040886
42,111.1769991015274,1555.5067385444745
43,123.32488262910798,1615.6525821596244
44,105.7352657004831,1493.4772946859903
45,110.55767397521448,1330.1458531935177
46,146.19868173258004,1847.5131826741997
47,96.44797687861272,2058.8526011560693
48,92.66748466257668,1969.7116564417179
49,107.52716049382715,1963.3456790123457
50,117.05548854041014,2567.0265379975876
51,122.20838323353293,1492.7928143712575
52,99.26285714285714,2463.0471428571427
53,127.57184325108854,1630.7271407837445
54,129.54965753424656,1451.2671232876712
55,123.85017421602788,1742.9006968641115
56,99.88014981273409,1463.7865168539327
57,142.65953307392996,1737.352140077821
58,86.59767891682786,1510.0309477756286
59,110.28483606557377,2061.4631147540986
60,95.91206030150754,1548.1909547738694
61,129.6751269035533,1201.4289340101523
62,67.40243902439025,1748.5060975609756
63,79.20714285714286,1805.8035714285713
64,85.07368421052631,1472.4421052631578
65,118.20276497695852,3552.990783410138
66,65.32222222222222,1023.8111111111111
67,105.03333333333333,2768.661111111111
68,176.30882352941177,1294.5588235294117
69,69.36206896551724,2642.5172413793102
70,152.03125,1439.9583333333333
71,215.25555555555556,2665.777777777778
72,116.89156626506023,1927.0843373493976
73,125.36585365853658,1122.841463414634
74,220.3050847457627,3140.423728813559
75,160.8490566037736,1146.3962264150944
76,36.26086956521739,1149.7608695652175
77,92.61538461538461,720.2051282051282
78,113.9047619047619,5711.714285714285
79,0.0,2074.8
80,62.62068965517241,3857.9310344827586
81,230.33333333333334,624.7037037037037
82,435.6,0.0
83,265.77777777777777,2227.8888888888887
84,0.0,0.0
85,0.0,0.0
86,0.0,0.0
87,0.0,0.0
88,0.0,1283.6
89,0.0,0.0
90,129.8913043478261,2677.1739130434785

#KPI 20

In [62]:
daf20 = census_clean.groupBy(['marital', 'hr/wk']).agg({'income':'count'}).limit(1000)
display(daf20.sort('count(income)',ascending = False ))

marital,hr/wk,count(income)
Married,Full time,13935
Never-married,Full time,9662
Married,Overtime,6522
Not-Married,Full time,6495
Never-married,Temp,2818
Never-married,Overtime,2118
Not-Married,Overtime,1633
Married,Temp,1182
Not-Married,Temp,857

In [63]:
"The actual dataset contained " + str(census.count()) + " rows but after cleaning we are left with " + str(census_clean.count()) + " rows."

In [64]:
census_clean.collect()

In [65]:
#to view all the string labels in my dataframe
#dtype = [ stype for col,stype in census_clean.dtypes]
for col,dtype in census_clean.dtypes:
  if dtype=='string':
    print(col)
    census_clean.select(col).distinct().show()
    print("----------------------------------------")

In [66]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline
categorical_column = [col for col,dtype  in census_clean.dtypes if dtype=='string']
#column = [col for col,dtype  in census_clean.dtypes if dtype=='string']
#String_index = [StringIndexer(inputCol=col, outputCol='index_'+col) for col,dtype  in census_clean.dtypes if dtype=='string'and col!='income']
String_index = [StringIndexer(inputCol=col, outputCol='index_'+col) for col  in categorical_column if col!='income']
String_index += [StringIndexer(inputCol='income', outputCol='label')]
print(String_index)
sample_viz = Pipeline(stages=String_index).fit(census_clean).transform(census_clean)

In [67]:
column = [col for col,dtype  in census_clean.dtypes if dtype=='string' or col in ['age', 'income','capitalgain','capitalloss']]
sample_viz = sample_viz.drop(*column)
sample_viz.printSchema()

In [68]:
from pyspark.mllib.stat import Statistics
import pandas as pd

# df = sqlCtx.read.format('com.databricks.spark.csv').option('header', 'true').option('inferschema', 'true').load('corr_test.csv')
df = sample_viz
col_names = df.columns
features = df.rdd.map(lambda row: row[0:])
corr_mat=Statistics.corr(features, method="spearman",)
corr_df = pd.DataFrame(corr_mat.round(4))
corr_df.index, corr_df.columns = col_names, col_names
corr_df = corr_df.reset_index()
display(corr_df)

index,index_education,index_occupation,index_relationship,index_race,index_gender,index_age group,index_hr/wk,index_region,index_employer type,index_marital,label
index_education,1.0,-0.0854,-0.038,-0.0019,-0.0195,0.0297,0.0715,0.1231,0.0633,-0.0456,0.1246
index_occupation,-0.0854,1.0,0.109,0.0659,0.0412,0.029,0.0308,0.0328,-0.0796,0.0871,-0.1834
index_relationship,-0.038,0.109,1.0,0.1429,0.606,-0.0436,-0.012,0.0293,-0.0975,0.6601,-0.3407
index_race,-0.0019,0.0659,0.1429,1.0,0.0993,-0.026,-0.0679,0.2231,0.0124,0.0848,-0.081
index_gender,-0.0195,0.0412,0.606,0.0993,1.0,0.0162,-0.016,-0.0116,-0.0465,0.4492,-0.2158
index_age group,0.0297,0.029,-0.0436,-0.026,0.0162,1.0,0.0511,-0.0138,0.0725,0.0081,0.0194
index_hr/wk,0.0715,0.0308,-0.012,-0.0679,-0.016,0.0511,1.0,-0.0377,0.0478,-0.0247,0.0516
index_region,0.1231,0.0328,0.0293,0.2231,-0.0116,-0.0138,-0.0377,1.0,-0.0491,-0.0405,-0.0368
index_employer type,0.0633,-0.0796,-0.0975,0.0124,-0.0465,0.0725,0.0478,-0.0491,1.0,-0.0825,0.1121
index_marital,-0.0456,0.0871,0.6601,0.0848,0.4492,0.0081,-0.0247,-0.0405,-0.0825,1.0,-0.3972
label,0.1246,-0.1834,-0.3407,-0.081,-0.2158,0.0194,0.0516,-0.0368,0.1121,-0.3972,1.0